
body {
    /* background: #000; */
    line-height: 2;
}

.c {
    color: #080808;
    opacity: 0
    
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  /*animation-name: fadeIn;*/
  animation: fadeIn 1s both;
}

.content {
    font-size: 64px;
    padding: 100px 0;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    
}
